<table class="ui fixed single line celled table search-result-table unstackable" style="display:none">
  <thead>
    <tr>
      <th>1학년</th>
      <th>2학년</th>
      <th>3학년</th>
      <th>4학년</th>
    </tr>
  </thead>
  <tbody>
    <!-- below data should be controlled by Vue-->
    <tr>
      <td class="selectable"><a></a></td>
      <td lecture-name="시스템프로그래밍" class="selectable"><a>시스템프로그래밍</a>
        <div lecture-name="시스템프로그래밍" class="ui lecture-info flowing popup top left transition hidden">
          <div class="ui three column divided center aligned grid">
            <div class="column">
              <p>시스템프로그래밍 <br/>강의 정보1</p>
              <button lecture-name="시스템프로그래밍" nth-lecture="1" class="ui hanyang basic mini lecture-select button">선택</button>
            </div>
            <div class="column">
              <p>시스템프로그래밍<br /> 강의 정보2</p>
              <button lecture-name="시스템프로그래밍" nth-lecture="2" class="ui hanyang basic mini lecture-select button">선택</button>
            </div>

            <div class="column">
              <p>시스템프로그래밍<br /> 강의 정보3</p>
              <button lecture-name="시스템프로그래밍" nth-lecture="3" class="ui hanyang basic mini lecture-select button">선택</button>
            </div>

          </div>
        </div>
      </td>
      <td lecture-name="소프트웨어공학" class="selectable"><a>소프트웨어공학</a>
        <div lecture-name="소프트웨어공학" class="ui lecture-info popup top left transition hidden">
          <p>소프트웨어공학 강의 정보</p>
        </div>
      </td>
      <td lecture-name="전공멘토링" class="selectable"><a>전공멘토링</a>
        <div lecture-name="전공멘토링" class="ui lecture-info popup top left transition hidden">
          <p>전공멘토링 강의 정보</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="selectable"><a></a></td>
      <td lecture-name="컴퓨터네트워크" class="selectable"><a>컴퓨터네트워크</a>
        <div lecture-name="컴퓨터네트워크" class="ui lecture-info popup top left transition hidden">
          <p>컴퓨터네트워크 강의 정보</p>
        </div>
      </td>
      <td lecture-name="컴파일러설계" class="selectable"><a>컴파일러설계</a>
        <div lecture-name="컴파일러설계" class="ui lecture-info popup top left transition hidden">
          <p>컴파일러설계 강의 정보</p>
        </div>
      </td>
      <td lecture-name="소프트웨어인턴쉽2" class="selectable"><a>소프트웨어인턴쉽2</a>
        <div lecture-name="소프트웨어인턴쉽2" class="ui lecture-info popup top left transition hidden">
          <p>소프트웨어인턴쉽2 강의 정보</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="selectable"><a></a>
      </td>
      <td lecture-name="마이크로프로세서응용" class="selectable"><a>마이크로프로세서응용</a>
        <div lecture-name="마이크로프로세서응용" class="ui lecture-info popup top left transition hidden">
          <p>마이크로프로세서응용 강의 정보</p>
        </div>
      </td>
      <td lecture-name="특허법의이해" class="selectable"><a>특허법의이해</a>
        <div lecture-name="특허법의이해" class="ui lecture-info popup top left transition hidden">
          <p>특허법의이해 강의 정보</p>
        </div>
      </td>
      <td lecture-name="인터넷보안" class="selectable"><a>인터넷보안</a>
        <div lecture-name="인터넷보안" class="ui lecture-info popup top left transition hidden">
          <p>인터넷보안 강의 정보</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="selectable"><a></a></td>
      <td lecture-name="데이터베이스시스템및응용" class="selectable"><a>데이터베이스시스템및응용</a>
        <div lecture-name="데이터베이스시스템및응용" class="ui lecture-info popup top left transition hidden">
          <p>데이터베이스시스템및응용 강의 정보</p>
        </div>
      </td>
      <td lecture-name="병렬프로그래밍" class="selectable"><a>병렬프로그래밍</a>
        <div lecture-name="병렬프로그래밍" class="ui lecture-info popup top left transition hidden">
          <p>병렬프로그래밍 강의 정보</p>
        </div>
      </td>
      <td lecture-name="컴퓨터비전" class="selectable"><a>컴퓨터비전</a>
        <div lecture-name="컴퓨터비전" class="ui lecture-info popup top left transition hidden">
          <p>컴퓨터비전 강의 정보</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="selectable"><a></a></td>
      <td lecture-name="소프트웨어실무영어" class="selectable"><a>소프트웨어실무영어</a>
        <div lecture-name="소프트웨어실무영어" class="ui lecture-info popup top left transition hidden">
          <p>소프트웨어실무영어 강의 정보</p>
        </div>
      </td>
      <td lecture-name="수치해석" class="selectable"><a>수치해석</a>
        <div lecture-name="수치해석" class="ui lecture-info popup top left transition hidden">
          <p>수치해석 강의 정보</p>
        </div>
      </td>
      <td lecture-name="지능형생물정보학" class="selectable"><a>지능형생물정보학</a>
        <div lecture-name="지능형생물정보학" class="ui lecture-info popup top left transition hidden">
          <p>지능형생물정보학 강의 정보</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="selectable"><a></a></td>
      <td class="selectable"><a></a></td>
      <td lecture-name="소프트웨어스튜디오2" class="selectable"><a>소프트웨어스튜디오2</a>
        <div lecture-name="소프트웨어스튜디오2" class="ui lecture-info popup top left transition hidden">
          <p>소프트웨어스튜디오2 강의 정보</p>
        </div>
      </td>
      <td class="selectable"><a></a></td>
    </tr>
  </tbody>
</table>

