<table class="ui fixed single line celled table search-result-table unstackable">
  <thead>
    <tr>
      {{range .GradeNames}}
      {{if .}}
      <th>{{.}}</th>
      {{end}}
      {{end}}
    </tr>
  </thead>
  <tbody>
    {{range .SubjectsOrderedForTable}}
    <tr>
      {{range .}}
        {{if .Name}} <!-- dummy subject has a space bar. If .Name is empty, entire column(grade) has no data -->
        <td lecture-name="{{.Name}}" class="selectable"><a>{{.Name}}</a>

          {{if .SuupNo2}} <!-- If there is no SuupNo2 data, tooltip is disabled. -->
          <div lecture-name="{{.Name}}" class="ui lecture-info flowing popup top left transition hidden">
            <div class="ui {{.ColumnNumber}} column divided center aligned grid">
            {{range .Subjects}}
              <div class="column">
                <p>{{.GwamokNm}}<br/>교수: {{.DaepyoGangsaNm}}</p>
              </div>
            {{end}}
            </div>
          </div>
          {{end}}

        </td>
        {{end}}
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
