<table class="ui fixed single line celled table search-result-table unstackable">
  <thead>
    <tr>
      {{range .GradeNames}}
      {{if .}}
      <th>{{.}}</th>
      {{end}}
      {{end}}
    </tr>
  </thead>
  <tbody>
    {{range .SubjectsOrderedForTable}}
    <tr>
      {{range .}}
        {{if .GwamokNm}} <!-- dummy subject has a space bar. If .GwamokNm is empty, entire column(grade) has no data -->
        <td lecture-name="{{.GwamokNm}}" class="selectable"><a>{{.GwamokNm}}</a>
          {{if .SuupNo2}}<!-- when SuupNo2 is empty, there should be no popup information -->
          <div lecture-name="{{.GwamokNm}}" class="ui lecture-info flowing popup top left transition hidden">
            <p>{{.GwamokNm}} 강의 정보</p>
          </div>
          {{end}}
        </td>
        {{end}}
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
