<table class="ui fixed single line celled table search-result-table unstackable">
  <thead>
    <tr>
      {{range .GradeNames}}
      {{if .}}
      <th>{{.}}</th>
      {{end}}
      {{end}}
    </tr>
  </thead>
  <tbody>
    {{range .SubjectsOrderedForTable}}
    <tr>
      {{range .}}
        {{if .Name}} <!-- dummy subject has a space bar. If .Name is empty, entire column(grade) has no data -->
        <td lecture-name="{{.Name}}" class="selectable">

          {{if .HaksuNo}} <!-- If there is no HaksuNo data, tooltip is disabled. -->
          <a>{{.Name}}</a>

          <div lecture-name="{{.Name}}"class="ui mini longer modal">
            <!-- <div class="header"></div> -->
            <div class="ui segment modal-subject-name">

              <div class="ui hanyang ribbon label modal-subject-name">
                <i class="leanpub icon"></i> {{.Name}}:{{.IsuGbNm}}
              </div>

            </div>
            <div class="scrolling content modal-subject-name"> 

              {{range .Subjects}}
              <div lecture-name="{{.GwamokNm}}" lecture-number="{{.SuupNo2}}" class="each-subject modal-subject-name">
                <div style="margin: 5px 0 5px 0">
                  <p>{{.GwamokNm}}<br/>교수: {{.DaepyoGangsaNm}}</p>
                </div>

              </div>
              {{end}}

            </div>
          </div>
          {{end}}

        </td>
        {{end}}
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
